        $min-600: '(min-width: 600px)';
        $min-640-max-360: '(max-width: 640px) and (max-height: 360px)';
        * {
            padding: 0;
            margin: 0;
        }
        
        .quote-cloud {
            &::after {
                content: '';
                position: absolute;
                left: 50%;
                top: 20vh;
                margin-left: -38px;
                width: 0;
                height: 0;
                border-left: 38px solid transparent;
                border-right: 38px solid transparent;
                border-top: 52px solid transparent;
            }
            &::before {
                content: '';
                position: absolute;
                left: 50%;
                top: 20vh;
                margin-left: -52px;
                width: 0;
                height: 0;
                border-left: 52px solid transparent;
                border-right: 52px solid transparent;
                border-top: 70px solid transparent;
            }
        }
        
        p {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 85%;
            max-width: 720px;
            z-index: 2;
            position: relative;
            top: -60px;
            left: 0;
            right: 0;
            bottom: 0;
            margin-right: auto;
            margin-left: auto;
            color: white;
            text-align: center;
            font-size: 1rem;
            cursor: pointer;
            @media #{$min-600} {
                font-size: 2rem;
                top: -50px;
            }
            @media #{$min-640-max-360} {
                font-size: 1.3rem;
                top: -70px;
            }
        }